<div class="text-3xl px-6 py-4">Counties List</div>
<div>
  <ul>
    <% @counties.each do |county| %>
      <li class="px-6 py-4">
        <%= link_to county.name, county%>
      </li>
    <% end %>
  </ul>
</div>







