<div class="text-3xl px-6 py-4">
  <%= "Cities & Towns In #{@county.name}"%>
</div>
<div class="text-xl px-6 py-4">
  <%= "Total Food Pantry Count For #{@county.name} county: #{total_by_county(@county.towns)}"%>
</div >
<div>
  <ul>
    <% @towns.each do |town| %>
      <li class="px-6 py-4">
        <div><%= link_to "#{town.name} (#{town.food_pantries.count})", town_food_pantries_path(town.id) %></div>
        <div class="text-blue"><%= link_to "Add New Food Pantry", new_food_pantry_path(town_id: town.id) %></div>
      </li>
    <% end %>
  </ul>
</div>







